<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>RTA Bus Fines</title>
  <style>
    .header-title {
      font-size: 42px; /* Adjust the font size as needed */
    }
    .bgimg {
    background-image: url('static/images/15410.jpg');
    background: cover;
}
  </style>
</head>
<body class="bgimg p-4 shadow-md rounded-lg border-2 border-black">
    <center>
      <b class="header-title text-white">RTA Bus Fines</b>
    <table class="bg-white border-collapse border-4 border-black">
      <thead>
        <tr>
          <th class="border-2 border-black p-2">Violation Description</th>
          <th class="border-2 border-black p-2">Amount in AED</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through rows -->
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Using public transport modes, facilities and services or entering / exiting fare zones without paying the due fare.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Failure to present a nol Card upon request.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Using a <b>third party</b> card</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Using an <b>expired</b> card.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Using an <b>Invalid</b> card.</td>
          <td class="border-2 border-black p-2">AED 500</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Using a <b>Fake</b> card.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Selling Nol cards without prior permit from the RTA.</td>
          <td class="border-2 border-black p-2">AED 500</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Destroying, sabotaging or tampering with the systems, tools or seats of the Self Driving Bus.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Spitting, littering, doing any act that may contaminate the Self Driving Bus.</td>
          <td class="border-2 border-black p-2">AED 100</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Causing inconvenience to users of public transport modes, facilities and services in any way whatever.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Smoking inside the Self driving bus.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Taking hazardous materials inside the Self driving bus, including weapons, sharp materials or inflammable.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Taking alcohol the Self driving bus.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Selling goods and commodities inside the Self driving bus or promoting the same through any type of advertisement or propaganda.</td>
          <td class="border-2 border-black p-2">AED 200</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Opening the buses’ door or leaving it open during the movement between stations or during parking.</td>
          <td class="border-2 border-black p-2">AED 100</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Entering or sitting in places allocated for specific people inside the bus. (ex. women's section).</td>
          <td class="border-2 border-black p-2">AED 100</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Carrying or using materials or equipment which may annoy other passengers or may endanger their safety.</td>
          <td class="border-2 border-black p-2">AED 100</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2">Sleeping in passengers bus shelters or in undesignated places.</td>
          <td class="border-2 border-black p-2">AED 300</td>
        </tr>
        <tr class="border-2 border-black">
          <td class="border-2 border-black p-2"> Eating and drinking in a prohibited places.</td>
          <td class="border-2 border-black p-2">AED 100</td>
        </tr>
      </tbody>
    </table>
    </center>
   
<script>
    
</script>
</body>
</html>


